<a href="https://colab.research.google.com/github/aditi-123459/Cleaning_Data/blob/main/Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import pandas as pd
import numpy as np

In [ ]:
#loading dataset
df = pd.read_csv("CAvideos.csv")

In [ ]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579.0,787425.0,43420.0,125882.0,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651.0,127794.0,1688.0,13030.0,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146035.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828.0,132239.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622.0,1634130.0,21082.0,85067.0,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...

In [ ]:
# Step: Checking Dataset Dimensions
df.shape

(6234, 16)

In [ ]:
# Step: Understanding Dataset Structure and Data Types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                6234 non-null   object
 1   trending_date           6234 non-null   object
 2   title                   6234 non-null   object
 3   channel_title           6234 non-null   object
 4   category_id             6234 non-null   int64
 5   publish_time            6234 non-null   object
 6   tags                    6234 non-null   object
 7   views                   6233 non-null   float64
 8   likes                   6233 non-null   float64
 9   dislikes                6233 non-null   float64
 10  comment_count           6233 non-null   float64
 11  thumbnail_link          6233 non-null   object
 12  comments_disabled       6233 non-null   object
 13  ratings_disabled        6233 non-null   object
 14  video_error_or_removed  6233 non-null   object
 15  description             6019 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 779.4+ KB

In [ ]:
# Step: Checking for Missing Values

df.isnull().sum()

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       1
likes                       1
dislikes                    1
comment_count               1
thumbnail_link              1
comments_disabled           1
ratings_disabled            1
video_error_or_removed      1
description               215
dtype: int64

In [ ]:
# Step: Handling Missing Values in Text Columns

df["description"] = df["description"].fillna("")
df["tags"] = df["tags"].fillna("[none]")  # no tags

In [ ]:
# Step: Handling Missing Values in Numerical Column (Median Imputation)

df["views"] = df["views"].fillna(df["views"].median())

In [ ]:
# Step: Identifying and Removing Duplicate Records

df.duplicated().sum()
df = df.drop_duplicates()

In [ ]:
# Step: Text Cleaning and Standardization

df["title"] = df["title"].str.strip().str.lower()
df["channel_title"] = df["channel_title"].str.strip().str.lower()

In [ ]:
# Step: Date Parsing

df["trending_date"] = pd.to_datetime(df["trending_date"], format='%y.%d.%m')
df["publish_time"] = pd.to_datetime(df["publish_time"])

In [ ]:
# Step: Converting Boolean Column to Numeric Format

df["comments_disabled"] = df["comments_disabled"].astype('boolean').fillna(False).astype(int)

In [ ]:
# Step: Checking for Invalid Negative Values in 'views'

 (df["views"] < 0).sum()

np.int64(0)

In [ ]:
# Step: Removing Records with Invalid Negative Views

df = df[df["views"] >= 0]

In [ ]:
# Step: Removing Unnecessary Column ('thumbnail_link')

if 'thumbnail_link' in df.columns:
    df.drop('thumbnail_link', axis=1, inplace=True)

In [ ]:
# Step: Final Dataset Inspection and Statistical Summary

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                6234 non-null   object
 1   trending_date           6234 non-null   datetime64[ns]
 2   title                   6234 non-null   object
 3   channel_title           6234 non-null   object
 4   category_id             6234 non-null   int64
 5   publish_time            6234 non-null   datetime64[ns, UTC]
 6   tags                    6234 non-null   object
 7   views                   6234 non-null   float64
 8   likes                   6233 non-null   float64
 9   dislikes                6233 non-null   float64
 10  comment_count           6233 non-null   float64
 11  comments_disabled       6234 non-null   int64
 12  ratings_disabled        6233 non-null   object
 13  video_error_or_removed  6233 non-null   object
 14  description             6234 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 730.7+ KB

,trending_date,category_id,views,likes,dislikes,comment_count,comments_disabled
count,6234,6234.000000,6.234000e+03,6.233000e+03,6.233000e+03,6233.000000,6234.000000
mean,2017-11-29 02:22:59.018286848,20.911935,1.315887e+06,4.668604e+04,3.438426e+03,6399.134446,0.013956
min,2017-11-14 00:00:00,1.000000,1.141000e+03,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,2017-11-21 00:00:00,20.000000,1.466165e+05,2.024000e+03,9.700000e+01,422.000000,0.000000
50%,2017-11-29 00:00:00,24.000000,3.642790e+05,9.199000e+03,2.920000e+02,1357.000000,0.000000
75%,2017-12-07 00:00:00,24.000000,9.936330e+05,2.944200e+04,9.680000e+02,3880.000000,0.000000
max,2017-12-15 00:00:00,43.000000,1.378431e+08,3.014479e+06,1.602383e+06,827755.000000,1.000000
std,NaN,6.765356,5.063535e+06,1.686355e+05,4.460139e+04,32077.149549,0.117317